:root {

    --color-dark-green: hsl(158 100% 23%);
    --color-light-green: hsl(144, 68%, 84%);
    --color-orange: hsl(21, 75%, 65%);
    --color-teel: hsl(190, 43%, 35%);
    --color-light-orange: hsl(19, 66%, 80%);
    --color-dark-teel: hsl(164, 31%, 17%);
    --color-black: hsl(0, 0%, 0%);
    --color-transparent-black: hsla(0, 0%, 0%, 0.58);



    --color-text: #ffffff;
    --color-heading: #ffffff;
    --color-link: #9e9e9e;
    --color-link-hover: #b5b5b5;
    --color-accent: #ffffff;
    --color-accent-opacity: rgba(121, 179, 255, 0.25);
    --color-less-important: #7d7d7d;
    --color-scroll-bar: #d0d0d0;

    --color-bg-primary: #202020;
    --color-bg-secondary: #292929;

    --ff-body: 'lato', 'Inter', sans-serif;
    --ff-heading: 'lato', 'Inter', sans-serif;

    --height-banner: 59px; 
}  



html body {
    background-color: var(--color-bg-primary);
    color: var(--color-text);
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-heading);
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1875rem;
}

h4 {
    font-size: 0;
}

h5 {
    font-size: 0;
}

hr {
    color: var(--color-less-important);
    margin-block: 2.125rem;
}

section {
    padding-block: 0;
}

p {
    font-size: 1.1875rem;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

.important {
    font-weight: bold;
}

.less-important {
    color: var(--color-less-important);
    font-size: 0.875rem;
}